include tshub/aircraft/aircraft.png
recursive-include tshub/sumo_tools/osm_build_type *.typ.xml
recursive-include tshub/tshub_env3d/_assets_3d/*
recursive-include tshub/visualization/meso/web *.html *.css *.js